@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 14px;
    background-color: hsl(218, 28%, 13%);
    width: 100%;
}

.logo {
    width: 20%;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    opacity: 80%;
    margin-left: 20px;
    font-family: 'Raleway';
    font-weight: 400;
}

nav {
    margin-top: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.illustration {
    width: 80%;
    margin-top: 25px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    margin: 30px 20px 20px 20px;
}

h3 {
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    color: hsl(0, 0%, 100%);
    opacity: 80%;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 22px;
    margin: 0 30px;
}

button {
    width: 65%;
    height: 53px;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 65px;
    margin-top: 35px;
    transition: 0.5s;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-size: 200% auto;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%) 5%, hsl(198, 60%, 50%) 40%);
    font-family: 'Raleway'
}

button:hover {
    background-position: right center;
}

.section-two {
    margin-top: 140px;
}

.usage {
    margin-top: 85px;
}

.icon {
    width: 65px;
}

#security {
    width: 55px;
}

.section-three {
    margin-top: 130px;
}

.section-three h3 {
    margin-top: 50px;
    text-align: left;
    margin-left: 30px;
}

.section-three p {
    text-align: left;
    margin-bottom: 10px;
}

.section-three a {
    color: hsl(176, 52%, 66%);
}

.link {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.link-container {
    margin-left: 10px;
}

.border-bottom {
    border-bottom: 2px solid hsl(176, 52%, 66%);
    width: 143px;
    margin-left: 20px;
    margin-top: 5px;
}

.section-four {
    margin-top: 150px;
    text-align: left;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    background-color: hsl(219, 30%, 18%);
    color:hsl(0, 0%, 100%);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 25px;
    width: 80vw;
}

.review-text {
    text-align: left;
    line-height: 20px;
    font-family: 'Open Sans';
    color: hsl(0, 0%, 100%);
    opacity: 75%;
}

.name {
    color: hsl(0, 0%, 100%);
}

.profile-info img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.profile-info {
    display: flex;
    margin-top: 20px;
}

.profile-det {
    text-align: left;
    margin-left: 10px;
    font-family: 'Open Sans';
}

.status {
    margin-top: 5px;
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    opacity: 75%;
}

.quote {
    width: 30px;
    margin-bottom: -4px;
    margin-left: 43px;
}

.section-five {
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
    padding: 15px 10px ;
    width: 90vw;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0rem, 11.5rem);
}

.section-five button {
    width: 85%;
    margin-bottom: 25px;
}

.email {
    width: 85%;
    height: 53px;
    padding-left: 35px;
    border-radius: 65px;
    border: none;
    margin-top: 35px;
    margin-bottom: -15px;
    font-family: 'Raleway'
}

footer {
    background-color: hsl(216, 53%, 9%);
    padding-top: 270px;
    padding-bottom: 30px;
    margin-bottom: -19px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans'
}

.contact-container {
    text-align: left;
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 30px;
}

.contact {
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
    opacity: 80%;
}

.contact img {
    margin-bottom: -3px;
}

.contact p {
    margin-top: -20px;
    font-size: 16px;
}

.footer-logo {
    margin-left: -150px;
    margin-top: -20px;
}

.footernav-one {
    text-align: left;
    margin-left: 10px;
    margin-top: 70px;
    color: hsl(0, 0%, 100%);
    opacity: 80%;
}

.footernav-two {
    text-align: left;
    margin-top: 40px;
    margin-left: 10px;
    color: hsl(0, 0%, 100%);
    opacity: 80%;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

.social-links {
    margin-top: 60px;
    color: hsl(0, 0%, 100%);
}

i {
    border: 1px solid white;
    border-radius: 50%;
    padding: 6px;
    font-size: 13px;
    margin-right: 5px;
}

.developer {
    color: hsl(0, 0%, 100%);
    margin-top: 40px;
    font-size: 11px;
}


@media screen and (min-width: 1000px) {
    body {
        width: 100%;
    }

    .logo {
        width: 8%;
    }

    header {
        padding: 40px;
    }

    a {
        margin-left: 30px;
    }

    .illustration {
        width: 45%;
        margin-top: 35px;
    }

    h1 {
        margin: 30px 380px 20px 380px;
    }

    .section-one p {
        margin: 0 450px;
    }

    button {
        width: 20%;
    }

    .section-two {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 10em;
        margin-top: 25px;
        margin-left: 250px;
        margin-right: 250px;
    }


    .section-three {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        margin-left: 40px;
    }

    .section-three > img {
        width: 46%;

    }

    .sectionthree-text {
        margin-top: 115px;
        flex-basis: 40%;
    }

    .section-three h3 {
        font-size: 24px;
    }

    .link {
        margin-left: -10px;
    }


    .section-four {
        margin-top:90px;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 60px;
        margin-right: 60px;
    }

    .cards {
        padding: 25px;
        padding-top: 40px;
        width: 350px
    }

    #card_two{
        margin-left: 15px;
    }

    #card_three {
        margin-left: 15px;
    }

    .quote {
        width: 45px;
        margin-left: 90px;
    }

    .section-five {
        width: 55%;
        margin-top: 100px;
        transform: translate(0rem, 1rem);
    }

    .calltoaction-btn {
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
    }

    .section-five button {
        width: 40%;
    }

    .email {
        width: 55%;
    }

    footer{
        margin-top: -100px;
        padding-top: 200px;
    }

    .footer-logo {
        width: 8%;
        margin-left: -1000px;
    }

    .footer-main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-left: 60px;
    }

    .footernav-one {
        margin-top: 40px;
        margin-left: 70px;
    }

    .social-links {
        margin-left: -200px;
        margin-top: 45px;
    }

    .contact {
        margin-top: 3px;
    }

    .developer {
        text-align: center;
    }

}

@media screen and (max-width: 300px) {
    header {
        padding: 15px;
    }

    a {
        margin-left: 10px;
    }

    .logo {
        margin-top: 5px;
    }

    .contact {
        margin-left: -9px;
    }

    .footer-logo {
        margin-left: .5px;
    }

    .section-three a {
        margin-left: 19px;
    }

}

@media screen and (min-width: 310px) and (max-width: 370px) {
    .logo{
        margin-top: 3px;
    }

    .quote {
        margin-left: 38px;
    }

    .footer-logo {
        margin-left: .5px;
    }

}


